.rgdt2-CharComponent_List {
    list-style: none;
    margin: 0;
    padding: 0;
}

.rgdt2-CharComponent_ListItem {
    display: inline-block;
    padding: 1rem;
    text-align: center;
    margin: 1rem;
    border: 1px solid black;
}